@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&display=swap');

body{
    background-color: #000;
    font-family: 'Archivo', sans-serif;
}

.grid-menu ul{
    list-style: none;
}

.grid-menu li{
    display:inline-flex;
    padding: 2.7rem 3rem;    
}

.grid-menu a{
    text-decoration: none;
    font-size:1.2rem;
    color:#E26D5C;
}

.grid-menu a:hover{
    border-bottom: 2px solid #fff;
}

.grid-banner img{
    width:100%;
}

.grid-banner hr{
    margin-top:-0.5em;
    border-radius: 100%;
    border: 0.2em solid #edc853;
}